@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --main-color: #ffffff;
  --secondary-color: #cacacc;
  --lime: #a0dd1d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --main-color: #f8fafc;
    --secondary-color: #cacacc;
    --lime: #a0dd1d;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth !important;
}

body {
  color: var(--main-color);
  background: var(--background);

  font-size: 14px;
  line-height: 22px;
}

a {
  color: var(--lime);
  text-decoration: none;
}

.text-color--main {
  color: var(--main-color);
}

.text-color--secondary {
  color: var(--secondary-color);
}

.text-color--lime {
  color: var(--lime);
}

.card {
  padding: 20px;

  background: #242424;

  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1),
    0px 2px 4px -1px rgba(0, 0, 0, 0.16);
  border-radius: 16px;

  text-align: center;
}

.card .icon {
  width: 72px;
  height: 72px;
}
